# Ignore environment and credential files
.env
token.pickle


# Ignore Node.js dependencies
node_modules/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
service-account-key.json
